# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

# cProfile
*.prof

# my own gvim IDE
.vimrc

# my own input files
# dev_training/data/input
dev_training/data/
predictdb_data/
devtools/z1

# R history
.Rhistory
